.bs-stepper {
  display: block;
}

.bs-stepper .bs-stepper-header {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.bs-stepper .bs-stepper-content {
  overflow: hidden;
  padding: 0 24px 24px 24px;
}

.bs-stepper .step {
  display: flex;
  height: 72px;
  overflow: hidden;
  align-items: center;
  padding: 0 24px;
  outline: 0;
  cursor: pointer;
  position: relative;
  box-sizing: content-box;
  -webkit-tap-highlight-color: transparent;
}

.bs-stepper .step.active .bs-stepper-circle {
  background-color: #007bff;
}

.bs-stepper .step:hover {
  background-color: rgba(0, 0, 0, .06);
}

.bs-stepper .content {
  display: none;
}

.bs-stepper .content.active {
  display: block;
}

.bs-stepper .bs-stepper-circle {
  display: inline-block;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 16px;
  text-align: center;
  line-height: 29px;
  background-color: #6c757d;
}

.bs-stepper .step a {
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
}

.bs-stepper .step a .bs-stepper-label {
  font-weight: 600;
  color: #212529;
  display: inline-block;
}

.bs-stepper.linear .step:not(.active) a .bs-stepper-label {
  color: rgba(0, 0, 0, .38);
}

.bs-stepper .line {
  border-top-width: 1px;
  border-top-style: solid;
  flex: auto;
  height: 0;
  margin: 0 -16px;
  min-width: 32px;
  border-top-color: rgba(0, 0, 0, 0.12);
}
