name: Tests
on: [push, pull_request]

env:
  CI: true
  NODE: 14.x
  FORCE_COLOR: 2

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "${{ env.NODE }}"

      - name: Install npm dependencies
        run: npm ci

      - name: Run tests
        run: npm test

      - name: Run BrowserStack tests
        run: npm run browserstack
        if: github.repository == 'Johann-S/bs-stepper' && github.event_name == 'push'
        env:
          BROWSER_STACK_ACCESS_KEY: "${{ secrets.BROWSER_STACK_ACCESS_KEY }}"
          BROWSER_STACK_USERNAME: "${{ secrets.BROWSER_STACK_USERNAME }}"

      - name: Run Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          path-to-lcov: "./tests/dist/coverage/lcov.info"
